# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

### EDITOR ###

# special exception on the directxtk folder
!Externals/directxtk/lib/*

# Ignore the QT Build folder
NimbleEditor/build/*
#except our placeholder
!NimbleEditor/build/.placeholder.txt

NimbleEditor/x64/*
NimbleEditor/Debug/*
NimbleEditor/GeneratedFiles/*

# Ignore QT Project User Files
*.pro.user

### GRAPHICS ###
NimbleGraphics/Debug/*

*.sdf

NimbleGraphics/.vs/*

*.VC.db

NimbleGraphics/NimbleGraphics/x64/*

*.vcxproj.user

*.VC.opendb

*.autosave

NimbleEditor/Release/*